<!DOCTYPE html>
<html>
<head>
    <title>Client List</title>
</head>
<body>
    <h2>All Clients</h2>

    {% if messages %}
        {% for message in messages %}
            <script>alert("{{ message }}");</script>
        {% endfor %}
    {% endif %}

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Joined Date</th>
        </tr>
        {% for client in clients %}
        <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.joined_date }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{% url 'add_client' %}">Add New Client</a>
</body>
</html>
